{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="products" class="bg-[#F8F8F8] pb-5 flex items-center justify-center">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-4">Our Products</h2>

        <!-- Product Cards Container -->
        <div class="flex justify-center gap-4 sm:gap-6 lg:gap-8 flex-wrap">

            <!-- Product Card 1: Fabric Products -->
            <a href="{% url 'fabrics' %}" class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 hover:shadow-xl w-52 sm:w-64 lg:w-80 block">
                <div class="w-full h-56 sm:h-64 lg:h-72 relative">
                    <img src="{% static 'images/fabrics.png' %}" alt="Fabric Products" class="w-full h-full object-cover absolute inset-0">
                </div>
                <div class="p-3 text-center">
                    <h3 class="text-base sm:text-lg font-semibold text-gray-800 mb-1">Knitted fabrics</h3>
                </div>
            </a>

            <!-- Product Card 2: Knitted Products -->
            <a href="{% url 'our_product_details' %}" class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 hover:shadow-xl w-52 sm:w-64 lg:w-80 block">
                <div class="w-full h-56 sm:h-64 lg:h-72 relative">
                    <img src="{% static 'images/photoshoped-clothes.jpg' %}" alt="Knitted Products" class="w-full h-full object-cover absolute inset-0">
                </div>
                <div class="p-3 text-center">
                    <h3 class="text-base sm:text-lg font-semibold text-gray-800 mb-1">Ready made garments</h3>
                </div>
            </a>

        </div>
    </div>
</section>
{% endblock %}
